*.ipch
*.lastbuildstate
*.db-wal
*.db-shm
*.opendb
*.tlog
*.idb
*.db
*.db
*.db
Assignment_1/Assignment_6/.vs/VSWorkspaceState.json
Assignment_1/Assignment_6/.vs/slnx.sqlite
Assignment_1/Assignment_6/.vs/config/applicationhost.config
Assignment_1/Assignment_7/ZMQ_Client-Server/.DS_Store
Assignment_1/Assignment_7/ZMQ_Client-Server/.vs/ProjectSettings.json
Assignment_1/Assignment_7/ZMQ_Client-Server/.vs/slnx.sqlite
Assignment_1/Assignment_7/ZMQ_Client-Server/.vs/VSWorkspaceState.json
Assignment_1/Assignment_7/ZMQ_Request_Reply/.vs/ProjectSettings.json
Assignment_1/Assignment_7/ZMQ_Request_Reply/.vs/slnx.sqlite
Assignment_1/Assignment_7/ZMQ_Request_Reply/.vs/VSWorkspaceState.json
Assignment_1/Assignment_7/zeromq_quickstart/.vs/ProjectSettings.json
Assignment_1/Assignment_7/zeromq_quickstart/.vs/slnx.sqlite
Assignment_1/Assignment_7/zeromq_quickstart/.vs/VSWorkspaceState.json
Assignment_1/Assignment_7/zeromq_quickstart/CMakeLists.txt
Assignment_1/Assignment_7/zeromq_quickstart/src/.vs/ProjectSettings.json
Assignment_1/Assignment_7/zeromq_quickstart/src/.vs/slnx.sqlite
Assignment_1/Assignment_7/zeromq_quickstart/src/.vs/VSWorkspaceState.json
