*.ipch
*.lastbuildstate
*.db-wal
*.db-shm
*.opendb
*.tlog
*.idb
*.db
*.db
*.db
Assignment_1/Assignment_6/.vs/VSWorkspaceState.json
Assignment_1/Assignment_6/.vs/slnx.sqlite
Assignment_1/Assignment_6/.vs/config/applicationhost.config
Assignment_1/Assignment_7/ZMQ_Client-Server/.DS_Store
Assignment_1/Assignment_7/ZMQ_Client-Server/.vs/ProjectSettings.json
Assignment_1/Assignment_7/ZMQ_Client-Server/.vs/slnx.sqlite
Assignment_1/Assignment_7/ZMQ_Client-Server/.vs/VSWorkspaceState.json
Assignment_1/Assignment_7/ZMQ_Request_Reply/.vs/ProjectSettings.json
Assignment_1/Assignment_7/ZMQ_Request_Reply/.vs/slnx.sqlite
Assignment_1/Assignment_7/ZMQ_Request_Reply/.vs/VSWorkspaceState.json
Assignment_1/Assignment_7/zeromq_quickstart/.vs/ProjectSettings.json
Assignment_1/Assignment_7/zeromq_quickstart/.vs/slnx.sqlite
Assignment_1/Assignment_7/zeromq_quickstart/.vs/VSWorkspaceState.json
Assignment_1/Assignment_7/zeromq_quickstart/src/.vs/ProjectSettings.json
Assignment_1/Assignment_7/zeromq_quickstart/src/.vs/slnx.sqlite
Assignment_1/Assignment_7/zeromq_quickstart/src/.vs/VSWorkspaceState.json
Assignment_1/Assignment_12/template/.vs/config/applicationhost.config
Assignment_1/Assignment_12/template/.vs/launch.vs.json
Assignment_1/Assignment_12/template/.vs/ProjectSettings.json
Assignment_1/Assignment_12/template/.vs/slnx.sqlite
Assignment_1/Assignment_12/template/.vs/VSWorkspaceState.json
Assignment_1/Assignment_12/template/build/.cmake/api/v1/query/client-vscode/query.json
Assignment_1/Assignment_12/template/build/.cmake/api/v1/reply/cache-v2-f1dd1788b8d2ed2a35cb.json
Assignment_1/Assignment_12/template/build/.cmake/api/v1/reply/codemodel-v2-6f504d0353a8ea491830.json
Assignment_1/Assignment_12/template/build/.cmake/api/v1/reply/index-2020-04-24T09-00-13-0463.json
Assignment_1/Assignment_12/template/build/.cmake/api/v1/reply/target-tests-Debug-f8e54267e2809098e831.json
Assignment_1/Assignment_12/template/build/.ninja_deps
Assignment_1/Assignment_12/template/build/.ninja_log
Assignment_1/Assignment_12/template/build/build.ninja
Assignment_1/Assignment_12/template/build/cmake_install.cmake
Assignment_1/Assignment_12/template/build/CMakeCache.txt
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CMakeRCCompiler.cmake
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CMakeSystem.cmake
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
Assignment_1/Assignment_12/template/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment_1/Assignment_12/template/build/CMakeFiles/cmake.check_cache
Assignment_1/Assignment_12/template/build/CMakeFiles/ShowIncludes/foo.h
Assignment_1/Assignment_12/template/build/CMakeFiles/ShowIncludes/main.c
Assignment_1/Assignment_12/template/build/CMakeFiles/TargetDirectories.txt
Assignment_1/Assignment_12/template/build/CMakeFiles/tests.dir/embed.manifest
Assignment_1/Assignment_12/template/build/CMakeFiles/tests.dir/intermediate.manifest
Assignment_1/Assignment_12/template/build/CMakeFiles/tests.dir/manifest.rc
Assignment_1/Assignment_12/template/build/CMakeFiles/tests.dir/manifest.res
Assignment_1/Assignment_12/template/build/compile_commands.json
Assignment_1/Assignment_12/template/build/rules.ninja
