*.ipch
*.lastbuildstate
*.db-wal
*.db-shm
*.opendb
*.tlog
*.idb
*.db
*.db
*.db
Assignment_1/Assignment_6/.vs/VSWorkspaceState.json
Assignment_1/Assignment_6/.vs/slnx.sqlite
Assignment_1/Assignment_6/.vs/config/applicationhost.config
